﻿@model Assignment.Models.Student

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Student</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FirstMidName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.FirstMidName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.EnrollmentDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.EnrollmentDate)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
