﻿@model IEnumerable<Assignment.Models.Student>
@{
	ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
	<style>
		button {
			background-color: white;
			height: 30px;
			width: 30px;
		}
		button:active {
				background-color: red;
			}
		.active {
			background-color: red;
		}
		.clicked {
			background-color: red;
		}

		button:focus {
			background: olive;
		}
	</style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	<script>
		clicked = true;
		$(document).ready(function () {
			//Initially load pagenumber=1
			GetPageData(1);
		});


		function myFunction(elmt) {
			GetPageData(elmt.innerText);
		
		}
	
		function GetPageData(pageNum) {
			$("#table").empty();
			$("#paged").empty();

			$.ajax({
				type: 'GET',
				url: '/student/getStudent',
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				data: { pageNumber: pageNum },			
				success: function (response) {

					var rowData = "";
					
					for (var i = 0; i < response.data.length; i++) {
						rowData = rowData +
							'<tr><td>' + response.data[i].lastName +
							'</td><td>' + response.data[i].firstMidName +
							'</td><td>' + response.data[i].enrollmentDate +
							'</td></tr>';
					}
					$("#table").append(rowData);

					var pages = "";
					for (var i = 1; i <= response.totalPages; i++) {
						if (i == response.currentPage)
							pages = pages + '<button id="button" style="background-color: red" onclick="myFunction(this)" >' + i + '</button>';
						else
							pages = pages + '<button onclick="myFunction(this)" >' + i + '</button>';
					}
					$("#paged").append(pages);
				}
			});
			

		}	
		
	</script>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr id=" table">
				<th>lastName</th>
				<th>FirstMidName</th>
				<th>enrollmentDate</th>
			</tr>
		</thead>
		<tbody id="table">
	
		</tbody>
	</table>
	<div id="paged" class="navigator-btn">
	</div>
</body>
</html>